#!/usr/bin/env bash
#
#
# Ansible managed
#

cmd=$(docker exec -i babylon babylond query staking validator babyvaloper1u9q4h6sk7l3tkzh9skxx2ej95h6whzxy0w54gl | grep 'jailed: false' &> /dev/null )

if [[ $? -eq 0 ]]; then
   echo "babylon validator not jailed!"
   echo $(date -u) "validator not jailed" >> /root/val_jailed_log.txt
else
   echo "babylon validator may be jailed!"
   echo $(date -u) "Babylon testnet validator is jailed!" >> /root/val_jailed_log.txt
   curl -X POST -H 'Content-type: application/json' --data '{"text":"babylon validator may be jailed! (Query returned non-zero rc)\naddress: babyvaloper1u9q4h6sk7l3tkzh9skxx2ej95h6whzxy0w54gl" }' https://api.telegram.org/bot{ API KEY }/sendMessage?chat_id=-1002101924871&text=babylon_validator_may_be_jailed!&reply_to_message_id=1026
fi
